#first-billede{
    width: 60vw;
    height: auto;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}

#first-section-with-check{
    background-image: url("assets/img/tern.png");
    width: 100vw;
    background-size: contain; 
    height: 18rem;
    margin-top: 19%;
    display: flex;
    align-items: center;
    position: relative;
}

#smil-tegning{
    position: absolute;
    bottom: 0;
    right: 15vw;
    width: 12rem;
}

#klistermærke-rund{
    position: absolute;
    width: 7rem;
    top: 0;
    right: 0;
}

.btn-container{
    display: flex;
    margin-left: 5%;
    width: 80vw;
    justify-content: space-between;
}

.st0{
    fill:none;
    stroke:#70F054;
    stroke-width:100;
    stroke-miterlimit:10;
}




.purple-text-box{
    margin-top: 15%;
    width: 90vw;
    background-color: var(--purple);
    border: var(--red) solid 1px;
    box-sizing: border-box;
}

.img-inspo-div1{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.square-img{
    width: 43vw;
    height: 43vw;
    border: var(--red) solid 1px;
    box-sizing: border-box;
    object-fit: cover;
    margin-top: 5vw;
}

.square-text-box{
    width: 43vw;
    height: 43vw;
    background-color: var(--yellow);
    font-family: Readex Pro;
    font-weight: 300;
    font-size: 0.875rem;
    padding: 5%;
    border: var(--red) solid 1px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 5vw;
}


.inspiration-frontpage-section{
    position: relative;
}

.text-and-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43vw;
}

.btn-photo-container{
   margin-top: -1.25rem;
    
}

.crochet-font-section{
    width: 100vw;
    margin-top: 20%;
}

.citat-forfatter{
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
}

.text-banner-infinity{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background-color: var(--yellow);
    border-bottom: var(--red) solid 1px;
    border-top: var(--red) solid 1px;
    width: 100vw;
}

.banner-text{
    white-space: nowrap;
    padding: 0 1rem;
    animation: move-rtl 17000ms linear infinite;
    margin-top: 2%;
    margin-bottom: 2%;
}

@keyframes move-rtl{
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-900vw);
    }
}



.green-opskrift-section{
    background-color: var(--green);
    padding-top: 20%;
    border-bottom: var(--red) solid 1px;
    border-top: var(--red) solid 1px;
}

.sommertoppen-section{
    margin-bottom: 20%;
}

.taske-section{
    margin-bottom: 20%;
}

.hat-section{
    padding-bottom: 20%;
}

.opskrift-text-headline{
    margin-left: 0 !important; 
    margin-bottom: 2% !important;
}

.opskrift-section{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.opskrift-section-img{
    width: 80vw;
    height: 80vw;
    object-fit: cover;
    border: var(--red) solid 1px;
    box-sizing: border-box;
}


@media screen and (min-width: 992px){

    /* Body */
    .first-section-span{
        display: flex;
        flex-direction: row-reverse;
        height: 40vw;
    }

    .first-text-span{
        margin-top: 0%;
        border-bottom: var(--red) 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #first-billede{
        margin-top: 6vw;
        width: 25vw;
        height: auto;
        object-fit: cover;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border: var(--red) solid 1px;
        box-sizing: border-box;
    }
    
    #first-section-with-check{
        background-image: url("assets/img/tern.png");
        width: 70vw;
        background-size: cover; 
        height: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    #smil-tegning{
        position: absolute;
        bottom: 7vw;
        right: 12vw;
        width: 17vw;
    }
    
    #klistermærke-rund{
        position: absolute;
        width: 12vw;
        top: 25vw;
        right: 0;
    }

    .btn-container{
        display: flex;
        margin-left: 10rem;
        margin-top: 2vw;
        width: 33rem;
        justify-content: space-between;
    }

    .st0{
        fill:none;
        stroke:#70F054;
        stroke-width:60;
        stroke-miterlimit:10;
    }

    .slange{
        margin-top: 8vw;
        margin-bottom: 8vw;
    }


    .special-margin{
        margin-left: 5%;
    }
    

    .square-img{
        width: 19.5vw;
        height: 19.5vw;
        border: var(--red) solid 2px;
        margin: unset;
    }

    .square-text-box{
        width: 19.5vw;
        height: 19.5vw;
        font-weight: 300;
        font-size: 1rem;
        padding: 5%;
        border: var(--red) solid 2px;
        margin-top: unset;
        
    }

    .all-img-div{
        display: flex;
        width: 80vw;
        height: 40vw;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }

    .purple-text-box{
        width: 100%;
        height: 19.5vw;
        border: var(--red) solid 2px;
        margin: unset;
    }

    .text-and-btn-container {
        width: unset;
        position: relative;
    }

    .btn-photo-container {
        position: absolute;
        bottom: -1rem;
    }

    .img-section1{
        display: flex;
        width: 39.5vw;
        margin-left: 0%;
        margin-right: 0%;
    }

    .img-section2{
        display: flex;
        width: 39.5vw;
        margin-left: 0%;
        margin-right: 0%;
    }

    .crochet-font-section{
        width: 100vw;
        margin-top: 15vw;
    }

    .citat-forfatter{
        display: flex;
        justify-content: center;
        margin-bottom: 15vw;
    }

    .text-banner-infinity{
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        background-color: var(--yellow);
        border-bottom: var(--red) solid 1px;
        border-top: var(--red) solid 2px;
        width: 100vw;
    }
    
    @keyframes move-rtl{
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(-400vw);
        }
    }

    .banner-text{
        white-space: nowrap;
        padding: 0 0;
        animation: move-rtl 20000ms linear infinite;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .green-opskrift-section{
        background-color: var(--green);
        padding-top: 3vw;
        border-bottom: var(--red) solid 2px;
        border-top: var(--red) solid 1px;
        display: flex;
        padding-left: 12vw;
        padding-right: 12vw;
        padding-bottom: 3vw;
        width: 1;
    }
    
    .sommertoppen-section{
        margin-bottom: unset;
    }
    
    .taske-section{
        margin-bottom: unset;
    }
    
    .hat-section{
        padding-bottom: unset;
    }
    
    .opskrift-text-headline{
        margin-left: 0 !important; 
        margin-bottom: 0% !important;
    }
    
    .opskrift-section{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
    }
    
    .opskrift-section-img{
        width: 17vw;
        height: 17vw;
        object-fit: cover;
        border: var(--red) solid 2px;
        box-sizing: border-box;
    }


}
